@import "src/shared/ui/styles/variables";

.container {
	padding: 16px;
	flex-shrink: 0;
	min-height: 87px;
}

.inner {
	padding-top: 16px;
	border-top: 1px solid $bg-primary-color;
}

.text-area-wrap {
	background-color: #ffffff;
	border-radius: $radius;
	padding: 12px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	gap: 10px;
	align-items: flex-end;
}

.text-area {
	width: 100%;
	resize: none;
	box-shadow: none;
	font-family: inherit;
	display: block;
	border: none !important;
	padding: 0;
	height: 0;
	min-height: 20px;
	overflow: hidden;
	font-weight: 400;
	font-size: 12px;
	line-height: 20px;
	color: $text-color--500;
	outline: none;
	background-color: transparent;

	&:focus {
		border-color: $bg-primary-color;
	}
}

.button {
	border: none;
	background-color: transparent;
	cursor: pointer;
	width: 46px;
	height: 24px;
	padding: 0 12px 0 10px;
	border-left: 1px solid $bg-primary-color;
	transition: .3s;

	&:disabled {
		cursor: default;
		opacity: .4;
	}

	&:not(:disabled) {
		&:hover {
			opacity: .8;
		}
	}

}
