@import "src/shared/ui/styles/variables";

.container {
	padding: 16px 16px 0;
	background-color: $bg-light-color;
	margin-bottom: 24px;
}

.inner {
	border-bottom: 1px solid $bg-primary-color;
	padding-bottom: 16px;
	display: flex;
	align-items: center;
	gap: 8px;
}

.title {
	color: $text-color--600;
}
