@import "src/shared/ui/styles/variables";

.item {
	padding: 20px 20px 16px;
	display: flex;
	border: none;
	background-color: transparent;
	width: 100%;

	&:not(:last-child) {
		padding-bottom: 0;

		.item__inner {
			border-bottom: 1px solid $border-color;
			padding-bottom: 16px;
		}
	}

	&__inner {
		display: flex;
		gap: 8px;
		align-items: flex-start;
		width: 100%;
	}

	&__content {
		width: 100%;
		text-align: left;
	}

	&__header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 8px;
		margin-bottom: 4px;
	}

	&__title {
		color: $text-color--600;
	}

}

.time {
	color: $text-color--500;
}

.message {
	color: $text-color--500;
}

.avatar {
	position: relative;
}

.item-indicator {
	position: absolute;
	right: 4px;
	bottom: 1px;
}
