@import "src/shared/ui/styles/variables";

.list {
	padding: 0 16px 24px;
	overflow-x: hidden;
	overflow-y: auto;
	display: flex;
	flex-direction: column;
	gap: 24px;
	align-items: flex-start;
	margin-top: auto;
	flex-shrink: 1;
	flex-grow: 0;
}

.message {
	display: flex;
	flex-direction: column;
	background-color: $bg-secondary-color;
	border-radius: $radius;
	padding: 16px;
	max-width: 665px;

	&.my {
		margin-left: auto;
		background-color: $bg-primary-color;
	}

	&__text {
		margin-bottom: 4px;
	}

	&__time {
		color: $text-color--500;
		margin-left: auto;
	}
}
