@import "src/shared/ui/styles/variables";

.title {
	margin: unset;
}

.bold {
	font-weight: 700;
}

.regular {
	font-weight: 400;
}

.h1 {

}

.h2 {

}

.h3 {
	font-size: 14px;
	line-height: 16px;
}

.p {
	font-size: 14px;
	line-height: 16px;
}
