@import "src/shared/ui/styles/variables";

.page {
	display: flex;
	flex-direction: column;
	padding: 40px 0;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
}

.chat-wrap {
	border-radius: $radius;
	background-color: $bg-primary-color;
	padding: 20px 16px;
	height: calc(100vh - 40px);
	max-height: 669px;
	display: flex;
	gap: 20px;
}

.sidebar {
	background-color: $bg-light-color;
	border-radius: $radius;
	width: 251px;
	flex-shrink: 0;
	border: 1px solid $border-color;
}

.chat {
	width: 100%;
	height: 100%;
	background-color: $bg-light-color;
	border-radius: $radius;
	overflow: hidden;
	border: 1px solid $border-color;
	display: flex;
	flex-direction: column;
}
