$bg-primary-color: #E3F2FD;
$bg-secondary-color: #EDE7F6;
$bg-light-color: #FAFAFA;
$text-color: #212121;
$text-color--600: #757575;
$text-color--500: #616161;
$success-color: #00C853;
$border-color: #F5F5F5;

$radius: 12px;
