.container {
	position: relative;
	overflow: hidden;
	border-radius: 50%;
	flex-shrink: 0;
}

.image {
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	min-height: 100%;
}
